.App {
  width: 100%;
  min-height: 100vh;
}

section {
  min-height: 100vh;
  padding: 80px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    padding: 60px 20px;
  }
}

